.grid {
    display: grid;
    width: 375px;
    height: 812px;
    align-items: stretch;
    background-color: lightcoral;
    grid-template-columns: repeat(auto-fit, mimax(auto));
    /*grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);*/
    /*grid-row: 4/4;
    grid-column: 4/4;*/
    /*grid-template-columns: repeat(auto-fit, mimax(auto));
    grid-auto-rows: minmax(auto);*/
}

.cabeza {
    /*grid-column: 1/4;*/
    display: grid;
    background-color: lightseagreen;
    width: 375px;
    height: 319px;
    /*background-color: violet;
    align-self: flex-start;*/
}

.formu {
    width: 322px;
    height: 430px;
    display: grid;
    /*grid-column: 1/3;*/
    grid-template-columns: repeat(2, 1fr);
    background-color: lawngreen;
    margin-left: 20px;
    margin-top: 213px;
    align-items: stretch;
}

.pest1 {
    width: 161px;
    height: 65px;
    align-self: flex-start;
    /*grid-column: 1/2;*/
    background-color: rgb(49, 15, 173);
}

.pest2 {
    width: 161px;
    height: 65px;
    align-self: flex-start;
    background-color: rgb(207, 23, 109);
    /*grid-column: 2/3;*/
}


/*.grid>div {
    background: red;
    padding: 10em;
}

.grid>div:hover {
    border: 1px solid beige;
}*/